.footer {
  background-color: #339cff;
  color: #fff;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 0.9rem;
  text-align: left;
  margin-top: 120px;
  height: 250px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;

}

.footer-section {
  flex: 1 1 22%;
  min-width: 200px;
  margin-bottom: 0.1rem;

}

.footer-section p {
  margin-bottom: 1px;
  margin-bottom: 1.2rem;
}

.footer-section h5 {
  margin-top: 10px;
  margin-bottom: 1.2rem;
  font-size: 1.1rem;
}

.footer-section a {
  display: block;
  color: #eee;
  text-decoration: none;
  margin-bottom: 1.2rem;   /*글자사이 간격*/
}


.footer-section a:hover {
  color: #fff;
}

.footer-bottom {
  text-align: center;
  font-size: 0.85rem;
  background-color: #339cff;
}
